:root {
  --el-color-primary: #67c23a;
  --el-color-primary-light-3: #85ce61;
  --el-color-primary-light-5: #95d475;
  --el-color-primary-light-7: #a6d98a;
  --el-color-primary-light-8: #b8e09e;
  --el-color-primary-light-9: #c9e7b3;
  --el-color-primary-dark-2: #529b2e;
}

// 覆盖 Element Plus 菜单相关变量
:root {
  --el-menu-text-color: rgba(255, 255, 255, 0.65);
  --el-menu-active-color: #67c23a;
  --el-menu-hover-bg-color: rgba(255, 255, 255, 0.08);
  --el-menu-hover-text-color: rgba(255, 255, 255, 0.95);
}
